* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans JP', sans-serif;
}

.frame {
  width: 800px;
  height: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/back/shima.jpg);
  background-size: cover;
  text-shadow: 2px 0 #000000;
}

.header {
  height: 110px;
  display: flex;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5)
}

.header_logo {
  padding: 20px;
  font-size: 44px;
  opacity: 0.75;
}

.header_menu_list {
  margin-top: 34px;
  margin-bottom: 22px;
  display: flex;
}

.a {
  display: flex;
  font-size: 28px;
  opacity: 0.75;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  opacity: 0.75;
}

.main {
  height: 490px;
  color: #ffffff;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3)
}

.caption {
  padding-top: 20px;
  margin-left: 20px;
  font-size: 28px;
  opacity: 0.75;
}

p {
  margin: 20px;
  font-size: 14px;
  opacity: 0.75;
}

.thumbnail {
  margin: 0px 20px 20px 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.copyright {
  text-align: center;
  opacity: 0.75;
  font-size: 20px;
  margin-top: 20px;
}
